# Node
node_modules/
dist/
.env

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/

# Media/AI
*.mp4
*.wav
*.mp3

# AI Models
models/
.python-version

backend/temp/*

backend/models/checkpoints/*.pth

echo "*.db" >> .gitignore
echo "__pycache__/" >> .gitignore
echo ".venv/" >> .gitignore

temp/
__pycache__/
*.db
.env
node_modules/